 .user{
    display: flex;
    flex-direction: row;
}
.userPhoto{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
}
.userRightInfo{
    display: flex;
    flex-direction: row;
}
